<%= content_for :page_title do %>
  Home
<% end %>
<html>
  <head>
    <style>
      body {
        background-color : #000000;
      }
      
    </style>
  </head>
  <body>
    <p style=" text-align : center; font-size : 100px; color : #ffffff">
    THE MOST ACCURATE
    PERSONALITY TEST
    <br>
    EVER
    </p>
   

    <%= button_to "menuju page instruction", "pages/instruction", :method => :get %>
  </body>
</html>