<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Today's Date</title>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        $('#picture').css("display", "none"); // hide at beginning

        $('#button').click(function(){
        $('#picture').css("display", "block"); // show button on click
});
        
    </script>
</head>

<body>
    <button id="button">Show picture</button>
    <br />
    <img id="picture" src="https://dummyimage.com/600x400/000/fff"/>
    
</body>



</html>