<%= content_for :page_title do %>
  Instruction
<% end %>
<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag "styles" %>
</head>
<body style="background-color:black;">
    <div class="sans_source" style="padding: 50px 250px;">
        <p style=" text-align : center; font-size : 60px; color : #ffffff" class="fade-in1">
            INSTRUCTION
        </p>
        <br>
        <br>
        <div class="fade-in2">
            <p style="font-size: 20px">
                1. Sit down and relax
            </p>
            <p style="font-size: 20px">
                2. Wear your headphones for maximum experience
            </p>
            <p style="font-size: 20px">
                3. You will be given 10 questions. Each question has 4 options. Answer the questions honestly and as quickly as possible.
                It's best if you don't think too much about the answer. Just choose the first thing that comes to mind and ignore the distracting 
                voices in your head. You cannot go back to previous question so choose wisely.
            </p>
        </div>
    </div>
    <br>
    <div class="sans_source" style="padding: 0px 245px;">
        <p class="fade-in3" style="font-size: 15px; color: #FF0000">
            This test contains flashing light which may affect audience who are susceptible to photosensitive epilepsy or other photo sensitives.
        </p>
    </div>
    <br>
    <div class="sans_source fade-in4" style="padding: 0px 250px;">
        <p style=" text-align : center; font-size : 40px; color : #ffffff">
            Proceed to test?
        </p>
    </div>
    <br>
    <div class="row fade-in5" style="padding: 0px 300px 0px 435px;">
        <div class="column">
        <%= link_to "I'm Out", {:controller => 'pages', :action => "page1" }, {:class => "button-grey" } %>
        </div>
        <div class="column">
        <%= button_to "I'm In", {:controller => 'pages', :action => "page3" }, {:class => "button" } %>
        </div>
    </div>
</body>
</html>