<%= content_for :page_title do %>
  Instruction
<% end %>
<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag "styles" %>
</head>
<body style="background-color:black;">
    <h1 style=" text-align : center; font-size : 58px; color : #ffffff" class="sans_source">
        INSTRUCTION
    </h1>
</body>
</html>