<%= content_for :page_title do %>
  Instruction
<% end %>
<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag "styles" %>
</head>
<body style="background-color:black;">
  <div style="position:relative">
    <div style="font-size:5vmax; font-family:sans-source;opacity:0.3;position:absolute;animation: zoomeffect 10s infinite;color:#ffffff;filter:blur(6px);">
        Instruction
    </div>
    <div style="position:absolute">
        <div class="sans_source" style="padding:5%; padding-bottom:0">
            <p style=" text-align : center; font-size : 5vmax; color : #ffffff" class="fade-in1">
                INSTRUCTION
            </p>
            <br>
            <br>
            <br>
            <div class="fade-in2" style="font-size: 2.5vmin; padding-left:20%; padding-right:20%">
                <p>
                    1. Sit down and relax
                </p>
                <br>
                <p>
                    2. You will be given 10 questions. Each question has 4 options. Answer the questions honestly. You cannot go back to previous question so choose wisely.
                </p>
                <br>
                <p>
                    3. If you've answered all 10 questions, your result will be displayed.
                </p>
                <br>
                <p>
                    4. Share your result to friends, family, or your social media if you want.
                </p>
            </div>
            <br>
            <p class="fade-in3" style="font-size: 2vmin; color: #FF0000; padding-left:20%; padding-right:20%">
                This test contains flashing light which may affect audience who are susceptible to photosensitive epilepsy or other photo sensitives.
            </p>
        </div>
        <br>
        <div class = "sans_source_bold fade-in4" style ="margin-top:0%">
        <p style="text-align:center; font-size: 2.5vmin; color: #FF0000">
            Once you proceed,you cannot go back to Home Page,
            <br>
            you will have to finish the test first.
        </p>
        </div>
        <br>

        <br>
        <br>
        <div class="sans_source fade-in4" style="padding: 0px 250px; margin-top:-2%">
            <p style=" text-align : center; font-size : 4vmin; color : #ffffff">
                Proceed to test?
            </p>
        </div>
        <br>
        <div class="row fade-in5">
            <div class="column" style="padding-left:30%">
            <%= link_to "I'm Out", {:controller => 'pages', :action => "page1" }, {:class => "button-grey" } %>
            </div>
            <div class="column" style="padding-left:10%">
            <%= button_to "I'm In", {:controller => 'pages', :action => "page3" }, {:class => "button-i" } %>
            </div>
        </div>
    </div>
  </div>
</body>
</html>