<%= content_for :page_title do %>
    Page13
  <% end %>
  <!DOCTYPE html>
  <html>
  <head>
<<<<<<< HEAD
      <meta name="page13" content="width=device-width, initial-scale=1.0">
=======
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

>>>>>>> 81dc432e25d32f39ff5e56e09685344fd8a3f196
      <%= stylesheet_link_tag "styles" %>
      <style>
      body {
          background-color : #000000;
        }
      </style>
  </head>
  <body>
  
    <%= video_tag "P13.ogv", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video home-video-wrapper" %>
      <div style="padding-top:17%">
        <p class="home sans_source " style="padding 10px 300px; text-align:center; font-size: 33px"> 
        
              Congratulations! You've completed the test.
              <br>
              Once you see the result,please give it a thought,
              <br>
              contemplate for a while in order to fully understand.
        </p>
      </div>
<<<<<<< HEAD
      <div class="center">
=======
      <div style="margin-top: 100px;text-align:center">
>>>>>>> 81dc432e25d32f39ff5e56e09685344fd8a3f196
        <%= button_to "See My Result", {:controller => 'pages', :action => "page14" }, {:class => "button" } %>
      </div>
  </body>
  </html>