<%= content_for :page_title do %>
    Page13
  <% end %>
  <!DOCTYPE html>
  <html>
  <head>
      <meta name="page13" content="width=device-width, initial-scale=1.0">
      <%= stylesheet_link_tag "styles" %>
      <style>
      body {
          background-color : #000000;
        }
      </style>
  </head>
  <body>
  <script type = "text/javascript">

  </script>
  <div style="position:relative">
      <div class="pulse" style="position:absolute; margin-left:15%; margin-top:7%; width:70px; height:70px; animation-delay:0.2s"></div>
      <div class="pulse" style="position:absolute; margin-left:30%; margin-top:30%; width:30px; height:30px; animation-delay:0.3s"></div>
      <div class="pulse" style="position:absolute; margin-left:65%; margin-top:3%; width:50px; height:50px; animation-delay:0.4s"></div>
      <div class="pulse" style="position:absolute; margin-left:7%; margin-top:20%; width:40px; height:40px; animation-delay:2s"></div>
      <div class="center-screen">
            
            <p class="home sans_source " style="padding 10px 300px; text-align:center; font-size: 33px"> 
            
                  Congratulations! You've completed the test.
                  <br>
                  Once you see the result,please give it a thought,
                  <br>
                  contemplate for a while in order to fully understand.
            </p>
            
            <div style="padding-top: 5%;text-align:center">
            <%= button_to "See My Result", {:controller => 'pages', :action => "page14" }, {:class => "button" } %>
            </div>
      </div>
      
  </div>
  </body>
  </html>