<%= content_for :page_title do %>
    Page0
  <% end %>
  <!DOCTYPE html>
  <html>
  <head>
      <%= stylesheet_link_tag "styles" %>
  </head>
  <body>  
    <div style="padding-left:550px; padding-top:350px">
    <%= button_to "Start", {:controller => 'pages', :action => "page1" }, {:class => "button-1" } %>
    </div>
  </body>
  </html>