<%= content_for :page_title do %>
    Page5
  <% end %>
  <!DOCTYPE html>
  <html>
  <head>
      <%= stylesheet_link_tag "styles" %>
  </head>
  <body>
  <%= video_tag "P5.ogv",autoplay: :autoplay, mute: :mute, class: "home_video home-video-wrapper" %>
  
  </body>
  </html>