<%= content_for :page_title do %>
  Result
<% end %>
<!DOCTYPE html>
<html>
<style>
#my_camera{
 width: 500px;
 height: 180px;
 border: 1px solid black;
 margin :auto;
}
#container{
  padding-left: 23px;
  margin: auto;
}

</style>
<head>
    <%= stylesheet_link_tag "styles" %>
</head>
<body style="background-color:black;">
    <div>
        <p class="sans_source_reg" style="color : #FF0000; text-align : right; padding: 20px 20px">
        The Most Accurate Personality Test Ever
        </p>
    </div>
    <div class="sans_source" >
        <p style=" text-align : center; font-size : 45px; color : #ff0000" class="fade-in1">
            TEST RESULT
        </p>
        <br>
        <br>
        
    </div>
    <div id="my_camera">

    
    <!-- Webcam.min.js -->
    <script type="text/javascript" src="webcamjs/webcam.min.js"></script>

    <!-- Configure a few settings and attach camera -->
    <script language="JavaScript">
    Webcam.set({
    width: 650,
    height: 220,
    image_format: 'jpeg',
    jpeg_quality: 300
    });
    Webcam.attach( '#my_camera' );

    <!-- Code to handle taking the snapshot and displaying it locally -->
    function take_snapshot() {
    
    // take snapshot and get image data
    Webcam.snap( function(data_uri) {
    // display results in page
    document.getElementById('results').innerHTML = 
    '<img src="'+data_uri+'"/>';
    } );
    }
    </script>
    </div>
    <br>
    <br>
    <div class ="row">
        <div class="col-p8" style="text-align:center;padding:110px 0">
            <%= link_to "About This Test", {:controller => 'pages', :action => "page15" }, {:class => "link-text14" } %>
        </div>
        <div id="container" class="sans_source_bold  col-p8" style= "color: #ffffff; text-align: justify; text-align-last: center;">
            <p style="font-size: 12px">
                You are YOU. You define yourself. You are what you think you are and will be. Not all external information that claims to know about you are true and reliable
                for your search of identity. Don't let others dictate your identity for better or for worse. The world might make you think you are a certain type of individual. 
                But, really, no box is going to fit your individuality perfectly, because no matter how many similarities there is, no individual is the same.
            </p>
            <br>
            
                    <p style="font-size: 12px">
                    Some contents can feel relatable and you might feel like you belong to a certain type, but is it really? Is it just your mind that's making you believe in things? Are 
                    you sure you're not forcing yourself to fit in a box?
                    </p>
                
            <br>
            <p style="font-size: 12px">
                The journey to unravel every layers of You will not be an easy one. Amidst all the information that's trying to dictate your identity, staying true to yourself will 
                be the hardest challenge you face.
            </p>
            <br>
            <p style="font-size: 12px">
                Make time to contemplate. Find yourself.
            </p>
        </div>
        <div class="col-p8" style="text-align:center;padding:110px 0">
            <%= link_to "Go Back Home", {:controller => 'pages', :action => "page1" }, {:class => "link-text14" } %>
        </div>
    </div>
</div>
   
    <div class="row sans_source_reg" style="padding: 0px 20px; font-size: 13px; color:#666666">
        <div class="column">
            <p style="text-align:left">Copyright &copy; 2020</p>
        </div>
        <div class="column">
            <p style="text-align:right">Rosmita Prihandini Nadira / mitamix</p>
        </div>
    </div>
</body>
</html>