@font-face {
    font-family: 'sans-source';
    src:font-url('SourceSansPro-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.sans_source {
    font-family: 'sans-source';
    color: #ffffff;
}